body { 
    background-color: rgb(202, 173, 173);
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color: rgb(128, 0, 38);
    text-align: center;

    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: rgb(105, 15, 15);
}
h3{
    color: rgb(61, 59, 59);
    text-align: center; 

}
button {
    background-color: rgb(206, 109, 109);
    border-radius: 20px;
    color: black;
}

header {
   height: 20vh;
    width: 100vw;
    background-color: transparent;
}


section {
    width: 100vw;
    height: 45vh;
    background-color: transparent;
    display: flex;
    flex-direction: row;
}

div {
    
    margin: auto;
    width: 500px; 
}

ul {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none; /* Removes bullet points */
}

li {
    display: inline-block; 
    margin: 10px 20px; /* Adds spacing between items */
    padding: 10px 15px; /* Adds padding inside each item */
    background-color: #d4a373; /* Background color */
    font-size: 18px; /* Text size */
    font-weight: bold; /* Makes text bold */
    border-radius: 10px; /* Rounds corners */
    cursor: pointer; /* Changes mouse pointer on hover */
}

a {
    text-decoration: none;
}

li:hover {
    background-color: #6a61ae; /* Changes background on hover */
    /* text-decoration: underline ; */
}

img{
    width: 300px;
    height:500px;
    margin: 60px;
}

.pair {
    display: flex;
    align-items: center;
    gap: 10px;
} 
footer {
    
    background-color:rgb(110, 51, 51);
    text-align: center;
    margin: 0;
    padding: 8px;
}

footer p {
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    color: rgb(0, 0, 0); /* Optional: Change text color */
}

